<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="nwebsec">
      <!-- For information on how to configure NWebsec please visit: https://github.com/NWebsec/NWebsec/wiki -->
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec, Version=4.0.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings configSource="SecureConnections.config" />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <!--<customErrors mode="Off" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="/error/403" />
      <error statusCode="404" redirect="/error/404" />
      <error statusCode="500" redirect="/error/500" />
    </customErrors>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="false" />
    <!--minification requires dynamicCompressionBeforeCache off, order of operations error?-->
    <httpCompression noCompressionForHttp10="false" noCompressionForProxies="false" staticCompressionIgnoreHitFrequency="true" />
    <!--<serverRuntime frequentHitThreshold="1" frequentHitTimePeriod="10:00:00" enabled="true" />-->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="49.00:00:00" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <caching enabled="true">
      <profiles>
        <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
        <add extension=".eot" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
        <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
        <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
        <add extension=".htc" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
        <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Cookies, Accept-Encoding" />
        <add extension=".xml" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
        <add extension=".txt" policy="CacheUntilChange" kernelCachePolicy="DontCache" duration="49.00:00:00" location="Downstream" varyByQueryString="*" varyByHeaders="Accept-Encoding" />
      </profiles>
    </caching>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec, Version=4.0.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
    <!--<httpErrors errorMode="Custom">
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="403" path="/error/403" responseMode="ExecuteURL" />
      <error statusCode="404" path="/error/404" responseMode="ExecuteURL" />
      <error statusCode="500" path="/error/500" responseMode="ExecuteURL" />
    </httpErrors>-->
    <rewrite>
      <outboundRules>
        <!-- rewriteBeforeCache="true" -->
        <rule name="Cache Bundles" preCondition="IsBundles" patternSyntax="Wildcard">
          <match serverVariable="RESPONSE_VARY" pattern="*User-Agent*" />
          <action type="Rewrite" replace="true" value="Accept-Encoding" />
        </rule>
        <preConditions>
          <preCondition name="IsBundles" patternSyntax="Wildcard">
            <add input="{URL}" pattern="*/bundles/*" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="NWebsecConfig" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <elmah>
    <security allowRemoteAccess="false" />
  </elmah>
  <nwebsec>
    <httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <!--
            <redirectValidation enabled="false">
                <add allowedDestination="http://www.nwebsec.com/" />
            </redirectValidation>
            -->
      <!--<setNoCacheHttpHeaders enabled="false" />-->
      <!--<x-Robots-Tag enabled="false" noIndex="false" noFollow="false" noArchive="false" noOdp="false" noSnippet="false" noImageIndex="false" noTranslate="false" />-->
      <securityHttpHeaders>
        <x-Frame-Options policy="SameOrigin" />
        <!--<strict-Transport-Security max-age="00:00:00" includeSubdomains="true" httpsOnly="true" preload="true" />-->
        <x-Content-Type-Options enabled="true" />
        <!--<x-Download-Options enabled="false" />-->
        <x-XSS-Protection policy="FilterEnabled" blockMode="true" />
        <!--<content-Security-Policy enabled="false" x-Content-Security-Policy-Header="false" x-WebKit-CSP-Header="false">
          <default-src self="true" />
          <script-src self="true">
            <add source="nwebsec.codeplex.com" />
          </script-src>
          <style-src unsafeInline="false" self="true" />
          <img-src self="true">
            <add source="images.nwebsec.com" />
          </img-src>
          <object-src none="true" />
          <media-src none="true" />
          <frame-src none="true" />
          <font-src none="true" />
          <connect-src none="true" />
          <report-uri>
            <add report-uri="/api/v1/root/CSPReport" />
          </report-uri>
        </content-Security-Policy>-->
        <!-- This section works exactly like "x-Content-Security-Policy", but will output report-only headers instead. -->
        <!--<content-Security-Policy-Report-Only enabled="true" x-Content-Security-Policy-Header="true" x-WebKit-CSP-Header="true">
          <default-src self="true" />
          <script-src unsafeEval="false" unsafeInline="false" />
          <report-uri>
            <add report-uri="/api/v1/root/CSPReport" />
          </report-uri>
        </content-Security-Policy-Report-Only>-->
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>
  <!--<cachemanager baseUrl="/CacheManager.axd/">
        <security allowRemoteAccess="false" />
        <settings delimiter="/" />
    </cachemanager>-->
  <!--<webMarkupMin xmlns="http://tempuri.org/WebMarkupMin.Configuration.xsd">
    <webExtensions disableCopyrightHttpHeaders="true" />
    <core>
      <css>
        <minifiers>
          <add name="NullCssMinifier" displayName="Null CSS Minifier" type="WebMarkupMin.Core.Minifiers.NullCssMinifier, WebMarkupMin.Core" />
          <add name="KristensenCssMinifier" displayName="Mads Kristensen's CSS minifier" type="WebMarkupMin.Core.Minifiers.KristensenCssMinifier, WebMarkupMin.Core" />
        </minifiers>
      </css>
      <js>
        <minifiers>
          <add name="NullJsMinifier" displayName="Null JS Minifier" type="WebMarkupMin.Core.Minifiers.NullJsMinifier, WebMarkupMin.Core" />
          <add name="CrockfordJsMinifier" displayName="Douglas Crockford's JS Minifier" type="WebMarkupMin.Core.Minifiers.CrockfordJsMinifier, WebMarkupMin.Core" />
        </minifiers>
      </js>
      <logging>
        <loggers>
          <add name="NullLogger" displayName="Null Logger" type="WebMarkupMin.Core.Loggers.NullLogger, WebMarkupMin.Core" />
          <add name="ThrowExceptionLogger" displayName="Throw exception logger" type="WebMarkupMin.Core.Loggers.ThrowExceptionLogger, WebMarkupMin.Core" />
        </loggers>
      </logging>
    </core>
  </webMarkupMin>-->
</configuration>