@{
    ViewBag.Title = "Foundation Home";
}

<div class="jumbotron">
    <h1>Foundation</h1>
    <p class="lead">Foundation is a tool for REDCap users to map and pull data out of any of their REDCap studies.</p>
    <p><a href="http://redcap.wustl.edu" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Foundation gives you a powerful, meaningful way to access your data in any REDCap study.
            Simply enter the URL for the REDCap installation, your specific API Key for the study you want to access and guide the tool
            to the data you want to extract.
        </p>
        <p><a class="btn btn-default" target="_blank" href="http://peds.wustl.edu/pcf">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Powered by PCF</h2>
        <p>Developed by PCF Innovation in conjunction with PCF Informatics and backed by PCF Operations, Foundation is simple, powerful, and stable.</p>
        <p><a class="btn btn-default" target="_blank" href="http://peds.wustl.edu/pcf/teams.aspx">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Your data</h2>
        <p>You can easily access your study's data using Foundation and analyze your data with the help of the PCF Informatics team.</p>
        <p><a class="btn btn-default" target="_blank" href="http://peds.wustl.edu/pcf/services.aspx">Learn more &raquo;</a></p>
    </div>
</div>